{% load static %}
<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/geral.css' %}" rel="stylesheet">
</head>

<body>

    <div class="form bg-white">
        <form method="POST">
            <input type="hidden" name="csrfmiddlewaretoken"
                value="rLNWxukASnjvcWeGvSnNupyBttMGDyHitOOyn7q3RAxmU52V2kXCXFzCZwBznpNi">

            <div class="row">
                <div class="col-12">
                    <input type="email" name="username" autofocus required id="id_username" class="form-control"
                        placeholder="Email">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <input type="password" name="password" required id="id_password" class="form-control"
                        placeholder="Senha">
                </div>
            </div>

            <div class="mt-4">
                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-primary w-100 m-1 p-3" type="submit" id="bt-entrar">Entrar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="{% static "js/jquery-slim.min.js" %}"><\/script>')</script>
    <script src="{% static 'js/popper.min.js' "%}"></script>
    <script src="{% static 'js/bootstrap.min.js' "%}"></script>
</body>

</html>