{% load static %}
<!doctype html>
<html lang="pt-br">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/geral.css' %}">
    <title>Início</title>
</head>

<body>
    <div class="form bg-white">
        <div id="logo-expotec">
            
        </div>

        <hr>
        <form method="POST">
            <input type="hidden" name="csrfmiddlewaretoken"
                value="kJirufhCEdIJRrCwixcto0A06jt19MJPGfbbSc2N0FJYdYmfserHJwJQadBVjKTp">

            <div class="row">
                <div class="col-12">
                    <input type="email" name="username" autofocus required id="id_username" class="form-control"
                        placeholder="Email">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <input type="password" name="password" required id="id_password" class="form-control"
                        placeholder="Senha">
                </div>
            </div>

            <div class="mt-4">
                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-success w-100 m-1 p-3" type="submit">Entrar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script src="{% static 'jquery-3.3.1.slim.min' %}"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>